footer {
    background-color: $footer-bg-color;
    padding: 120px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
    color: #ffffff;

    .footer-item {
        width: 100%;
        max-width: 220px;

        &:first-of-type {
            max-width: 300px;
        }

        .footer-heading {
            font-weight: bold;
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 2.5rem;
        }

        p {
            line-height: 1.6;
        }

        .social-links {
            display: flex;
            gap: 1.25rem;
            margin-top: 2rem;

            .social-link {
                width: 36px;
                background-color: var(--color-primary);
                border-radius: 50%;
                display: flex;
                padding: 8px 0;

                img {
                    width: 20px;
                    margin: auto;
                }
            }
        }
    }

    .footer-menu {
        a {
            display: inline-block;
            color: #ffffff;
            border-bottom: 2px solid transparent;
            padding-bottom: 4px;
            letter-spacing: 0.06em;
            margin-bottom: 1rem;

            &:hover {
                border-bottom-color: #fff;
            }
        }
    }
}

.copyright {
    text-align: center;
    background-color: $mini-footer-bg-color;
    color: #ffffff;
    padding: 1rem 0;
}
