.portfolio-nav {
    display: flex;
    margin: 2rem auto 3.5rem;
    gap: 30px;
    overflow: auto;

    @include media (min, 768) {
        gap: 50px;
        justify-content: center;
    }

    a {
        color: var(--color-text);
        font-weight: normal;
        font-size: 1rem;
        letter-spacing: 0.06em;
        padding-bottom: 4px;
        border-bottom: 2px solid transparent;
        display: inline-block;
        width: max-content;

        &:hover,
        &.active-tab {
            color: var(--color-primary);
            border-bottom-color: var(--color-primary);
        }
    }
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @include media(min, 500) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include media(min, 768) {
        grid-template-columns: repeat(3, 1fr);
    }
    grid-gap: 3rem;
}

.portfolio-grid-item {
    overflow: hidden;
    line-height: 0;
    width: 100%;
}