.showcase {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 2rem;

    @include media(min, 768) {
        margin-top: 4rem;
    }

    @include media(min, 1024) {
        flex-direction: row;
        margin-top: 8rem;
    }
}

.showcase-textarea {
    display: flex;
    flex-direction: column;
    width: 100%;

    h1 {
        font-size: 36px;
        font-weight: bold;
        line-height: 1.3;
        color: #ffffff;
        text-align: center;

        @include media(min, 768) {
            font-size: 64px;
            line-height: 1.4;
        }

        @include media(min, 1024) {
            font-size: 72px;
            line-height: 1.6;
        }
    }

    @include media (min, 768) {
        margin-right: 4rem;
    }

    .btn-primary {
        margin: 2.5rem auto;

        @include media (min, 768) {
            margin: 5rem auto;
        }

        text-transform: uppercase;
        font-size: 20px;
        padding: 12px 40px;
        font-weight: bold;
    }
}

.showcase-img {
    width: 100%;
    max-width: 531px;
    margin: auto;
}

.down-arrow {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: #a39cfa;
    background-size: 40%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
        z-index: 1;
    }

    &:hover {
        background-color: #958ef9;
        box-shadow: 0px 0 24px 2px rgba(51,51,51, .1);
    }

    &::before {
        content: "";
        position: absolute;
        z-index: 0;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: block;
        width: 5em;
        height: 5em;
        background: #958ef9;
        border-radius: 50%;
        animation: pulse-border 1.5s ease-out infinite
    }
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0
    }
}
