$primary-color : #8C84F9;

$footer-bg-color: #07102D;
$mini-footer-bg-color: #0D1A3C;
$services-icon-light: #FBE1EA;
$services-icon-dark: #EBE1FA;
$buy-btn-color: #EC6B8E;

$section-bg-color: #F4F7FE;

// Icons
$icon-search: '../images/icons/icon-search.svg';
$icon-arrowdown: '';
// $icon-arrowdown: '../images/icons/icon-arrowdown.png';

