.icon {
    --icon-size: 20px;
    align-items: center;
    color: inherit;
    display: flex;
    height: var(--icon-size);
    justify-content: center;
    max-width: var(--icon-size);
    min-width: var(--icon-size);

    svg {
        fill: currentColor;
        height: 100%;
        width: 100%;
    }
}
