.icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-arrowdown {
    @extend .icon;
    // background-image: url($icon-arrowdown);
}